get-verapax.rb

_site
_tmp
.sass-cache
.jekyll-metadata
.jekyll-cache
.vagrant
.gitconfig

log/capistrano.log
Guardfile
crash.log
vendor
node_modules

.bundle/
.vscode-server/
.gnupg/
.cache/
.local/
.npm/
.vscode/
.irb_history
.bash_history
.ssh/
.dotnet/
