_site
.sass-cache
.jekyll-metadata

.vagrant

# Kept from Nanoc site:
# Default location for output, needs to match output_dir's value found in config.yaml
output/

# Temporary file directory
tmp/

.sass-cache/
Guardfile
crash.log
get-verapax.rb
