---
layout: home
title: Organizational Development
---

<div class="hero mb-5">
  <div class="d-flex align-items-center h-100">
    <div class="hero-image h-100 w-100 d-flex align-items-center">
      <div class="hero-content mx-auto">
        <div>
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="hero-logo d-none d-sm-block">
      <img src="{{ "assets/images/logo-verapax-text-light.png" | relative_url }}" alt="Verapax logo"
        class="hero-logo-image p-2">
    </div>
  </div>
</div>

<div class="content">
  <p> We have demonstrated work experience at designing, implementing and evaluating strategic leadership and
    governance. Our director and principal consultant is a facilitator with the Leadership Development Program at
    Volunteer Vancouver. Angela also served a 3-year term with the board of directors of MOSAIC. </p>
  <p>Our OD practice focuses on cultural and gender sensitivity, leadership development, and strategic planning. We
    are
    practitioners of Appreciative Inquiry.</p>

  {% include separator.html %}

  <h3>A Holistic Approach</h3>
  <div class="underline w-100 mb-2"></div>
  <p>The nature and forms of organizations are changing dramatically. Today’s environment is different from what it
    used
    to be during the 1960s, 1970s, 1980s and even the 1990s. So too the field of organizational development (OD) has
    changed to accommodate the evolution of organizations.</p>
  <p>The traditional approach to OD relied on organization being the sum of its parts where OD practitioners diagnosed
    a
    problem and prescribed an intervention to fix it. The “fix-it” approach is not necessarily a sustainable solution
    because soon another organization problem will emerge.</p>

  {% include separator.html %}

  <h3>Verapax holistic approach to OD</h3>
  <div class="underline w-100 mb-2"></div>
  <p>"Organization Development is a body of knowledge and practice that enhances organizational performance and
    individual development, viewing the organization as a complex system of systems that exist within a larger system,
    each of which has its own attributes and degrees of alignment. OD interventions in these systems are inclusive
    methodologies and approaches to strategic planning, organization design, leadership development, change
    management,
    performance management, coaching, diversity, and work/life balance." – Matt Minahan, MM &amp; Associates, Silver
    Spring, Maryland</p>
  <p>Verapax focuses as much on the processes between the parts of an organization as on the parts themselves. We look
    for patterns in organizations rather than events. We work with your organization at developing a plan and
    strategies
    for proactively responding to internal and external challenges and opportunities for change. We know that change
    takes time and that change can also be a source of anxiety. We recognize that leaders, team members and everybody
    working within an organizations – whether for profit or non-profit – are faced with many anxieties while facing
    constant change. Our holistic approach to OD focuses of identifying and developing avenues for the people within
    your organization to get ongoing support to deal with these anxieties.</p>
  <p>Some of the OD services Verapax has offered to its clients include:</p>
  <ul>
    <li>Process facilitation</li>
    <li>Team building</li>
    <li>Strategy planning</li>
    <li>Organizational assessment</li>
    <li>Organization and coordination of advisory committee</li>
    <li>Organization and coordination of working committee</li>
    <li>Organization and coordination of hiring committee</li>
    <li>Development and evaluation of job descriptions</li>
    <li>Volunteer program development and evaluation</li>
  </ul>
  <p><a href="mailto:info@verapax.org?subject=Request%20for%20consultation%20for%20organizational%20development">Contact
      us</a> for a free consultation on these or other services you or your organization may need from Verapax.</p>

</div>