---
layout: home
title: Project Management
---

<div class="hero mb-5">
  <div class="d-flex align-items-center h-100">
    <div class="hero-image h-100 w-100 d-flex align-items-center">
      <div class="hero-content mx-auto">
        <div>
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="hero-logo d-none d-sm-block">
      <img src="{{ "assets/images/logo-verapax-text-light.png" | relative_url }}" alt="Verapax logo"
        class="hero-logo-image p-2">
    </div>
  </div>
</div>

<div class="content">
  <p>The team at Verapax has extensive experience
    in the application of project management methods and tools during
    initiating, planning, executing, controlling, and closing processes.
    Our consultants employ standardized practices to improve the effectiveness and efficiency of project management
    and close project successfully.
    Our consultants have certified skills
    and proven experience in the use of relevant software applications
    such as Microsoft Project, Excel, and Open Source to document and track project information.</p>

  {% include separator.html %}

  <h3>Planning and Project Development</h3>
  <div class="underline w-100 mb-2"></div>
  <p>We use tools and analytical approaches to help your organization or group
    draft a comprehensive project charter including high-level requirements,
    project objectives, assumptions, constraints, approach, roles and responsibilities, and acceptance criteria.
    If necessary, we can assist you or your organization in preparing funding proposals.
    We use PERT, analogous, parametric, and bottom-up techniques for estimating project costs.
    We will assist you or your organization develop a detailed baseline project plan including scope statement,
    work breakdown schedule (WBS), network diagrams, project schedule,
    project budget, communications plan, risk management plan,
    performance indicators for monitoring and evaluation, control systems.
    We will provide you with project reports
    and any other documentation you may require for monitoring and evaluation and decision-making purposes.</p>

  {% include separator.html %}

  <h3>Project Execution and Controlling</h3>
  <div class="underline w-100 mb-2"></div>
  <p>Our consultants understand your need to work within the criteria of your organization or project sponsor;
    we will work with you and your project team to respond to the need or expectations of your advisory committees,
    stakeholders, community partners and project beneficiaries.
    We manage project progress by executing the project plan and managing by exception.
    Our project management approach includes applying scope,
    schedule and budget management techniques to recover or accelerate a project.
    Project performance is controlled by implementing and integrated change control process;
    measuring project performance; controlling quality, scope, schedule, costs and risks;
    verifying scope;
    updating the project plan;
    and taking corrective action as necessary.</p>

  {% include separator.html %}

  <h3>Risk Management</h3>
  <div class="underline w-100 mb-2"></div>
  <p>We will manage project risks through identification, analysis, response development, and monitoring and control.
    Our services also include: management of project quality through quality planning,
    quality assurance and control;
    personnel management;
    project procurement and contract management;
    liaison with stakeholders; coordination of meetings;
    tracking and reporting project performance.
    We will develop project reports and presentations.</p>

  {% include separator.html %}

  <h3>Project Closing</h3>
  <div class="underline w-100 mb-2"></div>
  <p>The Verapax team can perform project closing processes including audits,
    evaluations,
    outcome or deliverable verification,
    financial closure,
    lessons learned,
    performance reporting,
    formal acceptance,
    transition to sustainment,
    and archiving information.</p>
</div>