<!-- Changes that affect the height need to be reflects in `base.scss` and/or `variables.scss -->
<div class="bg-primary text-white footer">
  <footer class="text-center py-2">
    <div class="d-sm-flex justify-content-around align-items-center py-2">
      <div class="pb-2">
        <a class="navbar-brand" href="{% link index.html %}">
          <div class="h3 text-white">Verapax</div>
        </a>
      </div>
      <div class="pb-2">
        <a href="https://twitter.com/{{ site.twitter_username }}" class="text-light mx-3">
          <img src="{% link assets/images/twitter-brands.svg %}" alt="twitter" class="inline-icon">
        </a>
        <a href="https://instagram.com/verapax_" class="text-light mx-3">
          <img src="{% link assets/images/Instagram_Glyph_Black.svg %}" alt="instagram" class="inline-icon">
        </a>
        <a href="https://www.pinterest.ca/am_verapax/" class="text-light mx-3">
          <img src="{% link assets/images/P-Badge-Pushpin-Red-WhiteFill-450-RGB.png %}" alt="pinterest" class="inline-icon">
        </a>
        <a href="https://www.linkedin.com/in/angelacontreraschavez/" class="text-light mx-3">
          <img src="{% link assets/images/linkedin-in-brands.svg %}" alt="LinkedIn" class="inline-icon">
        </a>
        <a href="skype:acontreras-chavez?profile" class="text-light mx-3">
          <img src="{% link assets/images/skype-brands.svg %}" alt="Skype" class="inline-icon">
        </a>
      </div>
      <div class="py-2">
        <a class="btn btn-sm btn-secondary" href="{% link content/contact.html %}">Contact Us</a>
      </div>
    </div>
    <div class="pb-2 footer-text">
      © 2022 Verapax Solutions Inc. | Website by
      <a href="https://jadesystems.ca" class="text-light">Jade Systems Inc</a>
    </div>
  </footer>
</div>