<div class="bg-primary text-white footer">
  <footer class="container-xxl text-center h-100">
    <div class="row justify-content-between align-items-center pb-1">
      <div class="col-md">
        <a class="navbar-brand link-light mb-2 d-block" href="{% link index.html %}">
          <img src="/assets/images/aug-logo-verapax-2025-white-text.png" alt="Verapax Logo" class="logo"
            style="height: 5rem; width: auto;">
        </a>
        <div class="footer-text">
          <a href="{% link content/privacy-and-confidentiality-policy.html %}" class="link-light">Privacy and
            Confidentiality Policy</a>
        </div>
        <div class="footer-text">
          © 2025 Verapax Solutions Inc.
        </div>
        <div class="footer-text">
          Website by
          <a href="https://jadesystems.ca" class="link-light">Jade Systems Inc</a>
        </div>
      </div>
      <div class="col-md">
        <div class="text-start lh-sm py-2">
          <div class="footer-text pb-1">We humbly acknowledge that our Canada-based office is situated on the shared,
            ancestral, traditional, and unceded territories of the xwməθkwəy̓əm (Musqueam), Skwxwú7mesh (Squamish),
            Stó:lō, and Səl̓ílwətaʔ/Selilwitulh (Tsleil-Waututh) People of Turtle Island. Indigenous peoples have been
            stewards, care takers and innovative leaders of the lands, waters and ice colonially known as Canada. We
            raise our hands up in gratitude to Indigenous peoples of Turtle Island for hosting us.</div>
          <div class="footer-text">Learn more about native land at <a href="https://native-land.ca/" target="_blank"
              class="link-light">https://native-land.ca/</a>.</div>
        </div>
      </div>
      <div class="col-md">
        <div class="footer-text mb-2">
          Our mailing address is:<br>
          312 Main St. 2nd Floor<br>
          Vancouver BC V6A 2T2
        </div>
        <div class="mb-2">
          <a href="https://instagram.com/verapax_" class="mx-3" target="_blank">
            <i class="bi bi-instagram text-white"><span class="visually-hidden">Instagram</span></i>
          </a>
          <a href="https://www.linkedin.com/company/verapax-evaluations/" class="mx-3" target="_blank">
            <i class="bi bi-linkedin text-white"><span class="visually-hidden">LinkedIn</span></i>
          </a>
          <a href="https://www.youtube.com/@video.verapax/" class="mx-3" target="_blank">
            <i class="bi bi-youtube text-white"><span class="visually-hidden">YouTube</span></i>
          </a>
        </div>
        <div>
          <a class="btn btn-sm btn-secondary" href="{% link content/contact.html %}">Connect with Verapax</a>
        </div>
      </div>
    </div>
  </footer>
</div>
