<nav class="navbar navbar-top navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}{% link index.html %}">Verapax</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link content/about_us.html %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link content/monitoring_and_evaluation.html %}">Monitoring and Evaluation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link content/organizational_development.html %}">Organizational Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link content/presentations_and_communications.html %}">Presentations and Communications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link content/project_management.html %}">Project Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link content/contact.html %}">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
