body {
  font-size: $font-size-base;
  padding-top: $navbar-height;
  // The next two lines keep the site from getting too wide on really big screens
  max-width: $max-width;
  @extend .mx-auto;
}

h1, h2, .h1, .h2 {
  font-weight: bold;
}

html {
  font-size: 12px;
}

label.required:after {
  content: " *";
  @extend .text-danger;
}

.underline {
  height: 4px;
  width: 45px;
  background-color: $primary;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 16px;
  }
}
