@use "variables";
@use "customize-bootstrap";
@use "bootstrap/scss/bootstrap";

body {
  font-size: customize-bootstrap.$font-size-base;
  padding-top: variables.$navbar-height;

  // https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551
  min-height: 100vh;
  display: block;
  position: relative;
  padding-bottom: 14rem;

  // The next two lines keep the site from getting too wide on really big screens
  max-width: variables.$max-width;
  @extend .mx-auto;
}

h1,
h2,
.h1,
.h2 {
  font-weight: bold;
}

html {
  font-size: 12px;
}

label.required:after {
  content: " *";
  @extend .text-danger;
}

.underline {
  height: 4px;
  width: 45px;
  background-color: customize-bootstrap.$primary;
}

@include bootstrap.media-breakpoint-up(sm) {
  body {
    padding-bottom: 7.875rem;
  }
}

@include bootstrap.media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include bootstrap.media-breakpoint-up(xl) {
  html {
    font-size: 16px;
  }
}
