@use "variables";
@use "bootstrap/scss/bootstrap";

body {
  font-size: bootstrap.$font-size-base;
  padding-top: variables.$navbar-height;

  // https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551
  min-height: 100vh;
  display: block;
  position: relative;
  padding-bottom: 14rem;

  // The next two lines keep the site from getting too wide on really big screens
  max-width: variables.$max-width;
  @extend .mx-auto;
}

h1,
h2,
.h1,
.h2 {
  font-weight: bold;
}

.underline {
  height: 4px;
  width: 45px;
  background-color: bootstrap.$primary;
}

@include bootstrap.media-breakpoint-up(sm) {
  body {
    padding-bottom: 7.875rem;
  }
}

@include bootstrap.media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include bootstrap.media-breakpoint-up(lg) {
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-75 {
    width: 75%;
  }
}

@include bootstrap.media-breakpoint-up(xl) {
  html {
    font-size: 16px;
  }
}

.ticker-tape-container {
  overflow-x: hidden;
  width: 100%;
  display: flex;
}

.ticker-tape {
  --direction: normal;
  --duration: 45s;
  --delay: 0s;
  --iteration-count: infinite;
  display: flex;
  gap: 1rem;
  flex: 0 0 auto;
  margin-right: 1rem;
  min-width: 100%;
  align-items: center;
  animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* This is just some styling to make it look presentable */

.basic-styling {
  padding: 2rem;
}

.basic-styling span {
  padding: 0.25rem 1rem;
}

.ticker-tape img {
  padding: 0.25rem 1rem;
  height: 6rem;
  width: auto;
}
