// Steal enough of the accordion behaviour that I can make collapsible panels.

.collapse-icon {
  --#{$prefix}accordion-btn-icon-width: #{$accordion-icon-width};
  --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
  --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
  --#{$prefix}accordion-btn-icon-transform: #{$accordion-icon-transform};

  flex-shrink: 0;
  width: var(--#{$prefix}accordion-btn-icon-width);
  height: var(--#{$prefix}accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--#{$prefix}accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--#{$prefix}accordion-btn-icon-width);
  @include transition(var(--#{$prefix}accordion-btn-icon-transition));

  &:not(.collapsed) {
    background-image: var(--#{$prefix}accordion-btn-active-icon);
    transform: var(--#{$prefix}accordion-btn-icon-transform);
  }
}
