@use "variables";
@use "bootstrap/scss/bootstrap";

.footer-text {
  font-size: variables.$mice-font;
}

.inline-icon {
  height: 1em;
}

.invert {
  filter: invert(100%);
}

.footer {
  @extend .mx-auto;
  height: variables.$navbar-height;
  max-width: variables.$max-width;
  // https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551
  width: 100%;
  position: absolute;
  bottom: 0;

  a:link {
    text-decoration: none;
  }
}
