.footer-text {
  font-size: $mice-font;
}

.inline-icon {
  height: 1em;
}

.invert {
  filter: invert(100%);
}

.footer {
  @extend .mx-auto;
  max-width: $max-width;
  // https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551
  width: 100%;
  position: absolute;
  bottom: 0;

  a:link {
    text-decoration: none;
  }
}
