$mice-font: 1rem;
$nav-and-footer-font: 1.125rem;
$navbar-height: 62px;
$paragraph-font: 1.375rem;
$tertiary: #D181A5;

$box-shadow-sm:               0 .125rem .25rem #000000;
$box-shadow:                  0 .5rem 1rem #000000;
$box-shadow-lg:               0 1rem 3rem #000000;
