$mice-font: 1rem;
$nav-and-footer-font: 1.125rem;
// If you're putting text in the brand, it's 1.5rem plus 0.5 rem top and bottom padding.
$navbar-height: 2.5rem;
$max-width: 1440px;
$paragraph-font: 1.375rem;
$tertiary: #D181A5;

$box-shadow-sm:               0 .125rem .25rem #000000;
$box-shadow:                  0 .5rem 1rem #000000;
$box-shadow-lg:               0 1rem 3rem #000000;
