.hero {
	// background-image: url("");
	background-size: cover;
	background-position: center;
	margin-bottom: 2rem;
	// height: 50rem;
	// margin-bottom: 11.875rem;
	// The following accounts for the fixed top navbar.
	// margin-top: $navbar-height;
	@extend .mx-auto;
	color: white;
	@extend .bg-primary;

	&-content {
		@extend .content;
		padding-bottom: 5rem;
		padding-top: 5rem;
	}
}

@include media-breakpoint-up(md) {
	.hero {
		height: 25rem;
		padding-bottom: 0;
	}
}

@include media-breakpoint-up(xl) {
	.hero {
		width: 1440px;
	}
}
