$link-colour: #54A85B !default;
$link-hover-colour: #3C7C41 !default;

// The following is to fix a known issue with Bootstrap that the top bar
// overlaps the content. The @media avoids issues on phones and smaller
// screens.
// See: http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site
// @media (min-width: 980px) {
  body {
    padding-top: 50px;
    padding-bottom: 42px;
  }
// }

.jumbotron {
  @extend .text-light;
}

.vertical_align_children * { vertical-align: middle; }

// Styles for the sample Infrastructure Analysis Report
$report-font-size: 12px;

#iar {
  p, li, th, td {font-size: $report-font-size;}

  table {
    border: solid black thin;
    border-collapse: collapse;

    th, td {
      border: solid black thin;
      padding: 2px;
      vertical-align: middle;
    }
  }

  h1 {
    font-size: $report-font-size + 4px;
  }
  h2 {
    font-size: $report-font-size + 2px;
  }
  h2 {
    font-size: $report-font-size + 1px;
  }
  h1, h2, h3 {
    margin: 8px 0 8px 0;
    line-height: 1.1;
  }

  ul, li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// ID Styles
#pagination-outer-container {
  width: 100%;
  text-align: center;
}
#pagination-inner-container {
  display: inline-block;
}
